{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Django Project">
    <meta name="author" content="Arjun sapkota">
    <title>Footballworldcup predection : Polls</title>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link href="{% static "css/dashboard.css" %}" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    {% load static %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <script type="text/javascript" src="{% static "fusioncharts/fusioncharts.js" %}"></script>
        <script type="text/javascript" src="{% static "fusioncharts/fusioncharts.charts.js" %}"></script>
   <script type="text/javascript" src="{% static "fusioncharts/themes/fusioncharts.theme.fint.js" %}"></script>
        <script type="text/javascript" src={% static "fusioncharts/fusioncharts-jquery-plugin.js" %}></script>
        <script type="text/javascript" src={% static "fusioncharts/fusioncharts-jquery-plugin.min.js" %}></script>

</head>

<body class="dashboard">
<div id="container">
    <div id="header">
        <div id="branding">
            <h1 id="site-name" style="color:#52ec0b">Footballworldcup predection : Polls System</h1>
        </div>
        <div id="user-tools">
            <p>
                {% if user.is_authenticated %}
                   
                    <a href="/polls/index/"> POLLS </a> > >
                    <a href="/polls/profile/{{ user.username }}" style="color:#fc0707">Profile</a> > >
                    <a href= " Welcome {{ user.username }}" style="color:#fc0707"></a> <a href="/polls/logout" style="color:#09f851">Logout</a>
                {% else %}
                    <a href="/polls/"> POLLS </a>
                    <a href="/polls/login" style="color:#e90c0c">Login</a>
                {% endif %}//
                <a href="/polls/email/" style="color:#fc1212">Contact Email</a>---<a href="polls/Vote for worldcup predection POLLS/" style="color:#09fa29">Vote for worldcup predection POLLS</a>
            </p>
        </div>
    </div>
{#    <div class="breadcrumbs">#}
{#        <a href="/polls/"> POLLS </a>#}
{#        >>#}
        <a href="/polls/viewall"> View ALL Results </a>
{#    </div>#}
    <hr/>

    <div id="content" class="colMS">
        {% block content %}
        {% endblock %}

           